section.cf
  header
    h3.project-title AirBaltic mājaslapas izstrāde (frontend)
  article
    img.pure-img alt="" src="/images/projects/air_baltic.jpg"
    .content
      p.link
        strong> Saite:
        a href="https://www.airbaltic.com/lv-LV/index" target="_blank" rel="noopener noreferrer" airbaltic.com
      p.period
        strong> Periods:
        | 2012.11.27 — 2013.01.03
      p Mani palūdza palīdzētu ar dizaina "griezšanu", lai pabeigt projektu laikā.
      p
        | Lielākais izaicinājums bija sataisīt sākumlapas galveno izvēlni
          atbilstoši dizainam, lai tā korekti strādātu (pašreizējā izvēlne
          AirBaltic mājaslapā ir daudz vienkāršāka nekā, tā, kuru savulaik
          izstrādāju es).
      p Izmantotās tehnoloģijas
      ul
        li Ruby On Rails
        li SCSS
        li jQuery
        li SQLite
        li sh
        li git
