section.cf
  header
    h3.project-title Latvijas American Express un Membership Rewards
  article
    img.pure-img alt="" src="/images/projects/american_express.jpg"
    .content
      p.link
        strong> Saite:
        a href="https://www.americanexpress.lv/lv/private/kartes" target="_blank" rel="noopener noreferrer" americanexpress.lv
      p.period
        strong> Periods:
        | 2013.02.11 — 2015.08.20
      p
        | Projekta izstrādes laikā es biju atbildīgs par
        a<> href="https://github.com/cubesystems/releaf" target="_blank" rel="noopener noreferrer"  Releaf
        | satura vadības sistēmas izstrādi un backend instrādi.
      p Galvenie izaicinājumi:
      ul
        li CMS izstrāde Ruby on Rails ietvaram
        li dažādu trešo pušu servisu integrācija
        li Bankas drošības prasību ievērošana
      p
        | Pēc projekta nodošanas es turpināju to uzturēt līdz pat 2015 gada
          augusta beigām, kad pametu Cube Systems komandu.
      p Tehnoloģijas:
      ul
        li Releaf CMS
        li Ruby On Rails
        li Rspec
        li MySQL
        li HAML
        li CSS
        li javascript/jQuery
        li SOAP servisi
        li dažādu trešo pušu servisi
        li git
