section.cf
  header
    h3.project-title Baltcom intranet
  article
    .content
      p.period
        strong> Periods:
        | 2012.03.23 — 2013.02.19
      p Baltcom iekšējā dokumentu pārvaldes sistēma.
      p Iespējas:
      ul
        li Hierarhiska dokumentu pārvaldība
        li Dokumentu versionēšana
        li Dokumentu versiju salīdzināšana
        li Dokumenu piekļuves organizēšana (grupām vai konkrētiem lietotājiem)
        li E-pastu notifikācijas par jauniem vai modificētiem dokumentiem
        li Lietotāju darbību atskaites
      p Tehnoloģijas:
      ul
        li Ruby on Rails
        li Mysql
        li HAML
        li CSS
        li jQuery
        li CoffeeScript
