section.cf
  header
    h3.project-title elbook - DNB bankas intranets
  article
    .content
      p.period
        strong> Periods:
        | 2011.09.27 — 2013.02.14
      p
        | Mans pirmais projekts Cube Systems komandā bija DNB bankas iekšējās
          dokumentu pārbaldības sistēmas izveide.
      p
        | Mēs izveidojām pilnīgi jaunu sistemu un uzrakstijām skriptu,
          dokumentu importam no vecās sistēmas vienlaicīgi sapludinot
          lokalizētos dokumentus un izveidojot dokumentu saites (saistītiem
          dokumentiem).
      p
        | Mēs arī izveidojām sarežģītu hierarhisku pielaižu sistēmu (grupām un
          individuāliem lietotājiem)
      p
        | Tomēr vissarežģītākā funkcionalitāte ir saistīta ar dokumentu
          priekšskata attēlošanu. Sistēmā ievietotos dokumentus konvertēja uz
          normalizētiem HTML failiem, kā arī automātiski izveidoja saites starp
          saistītiem dokumentiem.
      p Iespējas:
      ul
        li Dokumentu priekšskats
        li Automātiska dokumentu saistīšana
        li Dokumentu koks
        li Dokumentu versionēšana
        li Sarežģītas hierarhiskas pielaides
      p Tehnoloģijas
      ul
        li Ruby on Rails
        li OpenOffice
        li MySQL
        li HAML
        li CSS
        li git
