section.cf
  header
    h3.project-title Evolution
  article
    .content
      p.link
        strong> Saite:
        a href="https://www.evolution.com/" target="_blank" rel="noopener noreferrer"
          | evolution.com
      p.period
        strong> Period:
        | 2017-11-13 — 2021-04-19

      p Dažas lietas, ko esmu darījis:
      ul
        li Uzturēju apmēram 120 produkcijas un testa serverus
        li Uzturēju ap 1800 bezdiska serverus
        li Būvēju OS bezdiska serveriem
        li Izveidoju dinamiskās vides video kodēšanas komandai
        li Izveidoju dinamiskās vides video izplatīšanas komandai
        li Ieviesu metriju savākšanu visām manis uzturētajām iekārtām
        li Pamatīgi vienkāršoju piegādes procesu
        li Samazināju atjaunojumu piegāžu laiku no 25 līdz apmēram 3 minūtem
        li Izstrādāju vienkāršotu Jenkins paiplainu
        li Dramatiski pārstrādāju bezdiska OS būvēšanas procesu
        li Atbalstīju komandu visos jautājumos saistītos ar Linux
        li Ieviesu PostgreSQL augstas pieejamības klāsteri
        li Cieši strādāju ar citiem departamentiem (tier2, NOC, ProdOps, SRE, InfoSec, Servisu menidžeriem u.c.)

