section.cf
  header
    h3.project-title Latio majaslapa
  article
    img.pure-img alt="" src="/images/projects/latio.jpg"
    .content
      p.link
        strong> Saite:
        a href="http://latio.lv/lv" target="_blank" rel="noopener noreferrer" latio.lv
      p.period
        strong> Periods:
        | 2014.01.29 — 2014.07.11
      p Tehnoloģijas:
      ul
        li
          a> href="https://github.com/cubesystems/releaf" target="_blank" rel="noopener noreferrer" Releaf
          satura vadības sistēma
        li Ruby on Rails
        li Rspec
        li MySQL
        li HAML
        li CSS
        li jquery
        li git
      p
        | Viens no šī projekta interesantākajiem aspektiem ir fakts, ka jaunā
          sistēma tika izveidota pa virsu vecajai.
      p Nemitīgi mainīgā satura dēļ mēs izveidojām sarežģītu kešošanas mehānismu.
