section.cf
  header
    h3.project-title Nameswitch
  article
    img.pure-img alt="" src="/images/projects/nameswitch.jpg"
    .content
      p.link
        strong> Saite:
        a href="https://www.nameswitch.co.uk" target="_blank" rel="noopener noreferrer" nameswitch.co.uk
      p.period
        strong> Periods:
        | - 2016-01-17 — 2016-11-11
      p
        | Viens no maniem pirmajiem projektiem strādājot Mosties bija sistēmas
          izveide cilvēku personas datu maiņai.

      p
        | Galvenā doma ir palīdzēt cilvēkiem automātiski aizpildīt dokumentus
          saistītus ar vārda, uzvārda, dzimuma maiņu u.c.

      p
        | Pēc nepieciešamo detaļu aizpildīšanas, klients izvēlas
          organizācijas un kompānijas kurām vajag sagatavot attiecīgos
          iesniegumus. Katram uzņēmumam tiek aizpildīta attiecīgā standarta
          forma, viss kas jādara klientam - jāizdrukā aizpildīta forma,
          jāparaksta un jānosūta uzņēmumam.

      p
        | Sistēma palīdz ļoti ekonomēt laiku, jo nav jāmeklē uzņēmumu
          specifiskās formas - tās jau ir pieejams vienuviet, kā arī dati
          jāsavada vienureiz, nevis katrai formai atsevišķi.

      p
        | Šī projekta lielākais izaicinājums bija izdomāt elastīgu veidu, kā
          spēt aizpildīt visas iespējamās PDF formas.

      p Tehnoloģijas:
      ul
        li Ruby on Rails
        li ActiveAdmin
        li PostgreSQL
        li sidekiq
        li jQuery
        li daži slepeni triki
