section.cf
  header
    h3.project-title zfSnap
  article
    .content
      p.link
        strong> Saite:
        a href="http://www.zfsnap.org" target="_blank" rel="noopener noreferrer" zfsnap.org
      p.period
        strong> Periods:
        | 2010.07.08 — 2014.03.01
      p
        | Es esmu autors zfSnap -
        a<> href="https://en.wikipedia.org/wiki/ZFS" target="_blank" rel="noopener noreferrer" ZFS
        | momentuzņēmumu pārvaldīšanas skripts.
      p
        | Oriģināli šis projekts sākās kā diskusija FreeBSD forumā, kas pārauga
          koncepta pierādījumā, ka ZFS momentuzņēmumus var pārvaldīt uzrakstot
          vienkāršu Bourne Shell skriptu un nav nepieciešama citu
          programmēšanas valodu izmantošana.
      p
        | Skripts ātri attīstījās un kļuva populārs. Kopš 2014. gada tā
          uzturēšanu esmu pārtraucis, bet jebkurš var "ziedot" kodu skripta
          attīstībai.
