---
show_in_menu: true
menu_title: gallery
menu_priority: 200
page_title: gallery
changefreq: weekly
localize_metadata: yes
page_id: gallery
---
main#gallery-app
  h2= t('gallery')
  p= t('gallery_description')


  .my-gallery itemscope="itemscope" itemtype="http://schema.org/ImageGallery"
    - gallery_images.each do |img|
      figure itemprop="associatedMedia" itemscope="itemscope" itemtype="http://schema.org/ImageObject"
        a href=img.path itemprop="contentUrl" data-size=img_size(img.raw_filename)
          img.pure-img src=img.path(rep: :thumb) itemprop="thumbnail" alt="" data-description=img[:"#{current_locale}_description"]


/ TODO implement better way, than hack with symlink and this line below
== render_partial(relative_identifier("_photoswipe_dialog.slim"))
script type="application/javascript" src="/scripts/gallery.js"
