@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src:
		local('Roboto Bold'),
		local('Roboto-Bold'),
		url('/fonts/Roboto_700.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Roboto_700.woff') format('woff'),
		url('/fonts/Roboto_700.woff2') format('woff2'),
		url('/fonts/Roboto_700.svg#Roboto') format('svg')
}
