section.cf
  header
    h3.project-title Latvian American Express and Membership Rewards
  article
    img.pure-img alt="" src="/images/projects/american_express.jpg"
    .content
      p.link
        strong> Site:
        a href="https://www.americanexpress.lv/lv/private/kartes" target="_blank" rel="noopener noreferrer"
          | americanexpress.lv
      p.period
        strong> Period:
        | 2013-02-11 — 2015-08-20
      p
        | During development of this project, I was responsible for back-end development and
        a<> href="https://github.com/cubesystems/releaf" target="_blank" rel="noopener noreferrer" Releaf
        | CMS development.
      p Key challenges were:
      ul
        li Development of Releaf CMS on top of Ruby on Rails
        li Integrating poorly designed 3rd party services
        li Complying with security requirements of Citadele Bank
      p
        | After project was finished, I kept maintaining it until I left Cube
          Systems team at the end of August 2015.
      p Technologies:
      ul
        li Releaf CMS
        li Ruby On Rails
        li MySQL
        li Rspec
        li HAML
        li CSS
        li javascript/jQuery
        li SOAP services
        li various 3rd party services
        li git
