section.cf
  header
    h3.project-title DNB Internet Bank Frontend
  article
    img.pure-img alt="" src="/images/projects/dnb.jpg"
    .content
      p.link
        strong> Site:
        a href="https://ib.dnb.lv/demo/index.html" target="_blank" rel="noopener noreferrer" ib.dnb.lv
      p.period
        strong> Period:
        | 2012-06-07 — 2013-04-23
      p Technologies:
      ul
        li Leaf CMS
        li php
        li Smarty
        li CSS
        li jQuery
        li git
