section.cf
  header
    h3.project-title zfSnap
  article
    .content
      p.link
        strong> Site:
        a href="http://www.zfsnap.org" target="_blank" rel="noopener noreferrer" zfsnap.org
      p.period
        strong> Period:
        | 2010-07-08 — 2014-03-01
      p
        | I'm the original author of zfSnap -
        a<> href="https://en.wikipedia.org/wiki/ZFS" target="_blank" rel="noopener noreferrer" ZFS
        | snapshot management script.
      p
        | Originally this project started as discussion on FreeBSD forums and
          turned into proof of concept that you can write Bourne shell script
          to automate periodic ZFS snapshot creation and deletion and don't
          need another language installed on you server.
      p
        | The script evolved quickly and gained a lot of popularity. Since
          around year 2014 I no longer maintain it, however anyone willing to
          contribute code is welcome to do so.
