---
sitemap: false
---
- redirect_target = lang_root.path

- content_for "head-#{rep.name}" do
  meta http-equiv="refresh" content="0; url=#{redirect_target}"

p
  | You are being redirected to
  a< href=redirect_target = redirect_target
